<!-- <h2>Activity</h2> -->

{{ id }}

<div>
  <div class="pagination-container">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>

  <div
    *ngFor="
      let comment of comments
        | paginate: { itemsPerPage: 10, currentPage: currentPage }
    "
  >
    <div>Comment</div>
    <!-- <div>{{ comment.id }}</div> -->
    <div>{{ comment.body }}</div>
    <div><hr /></div>
  </div>
  <div class="pagination-container">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
</div>
