<!-- <h2>Activity</h2> -->

<!-- {{ id }} -->

<div>
  <div class="pagination-container">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>

  <div class="comments-container"
    *ngFor="
      let comment of comments
        | paginate: { itemsPerPage: 10, currentPage: currentPage }
    "
  >
    
    <div class="comments-container__id">Comment: {{ comment.id }}</div>
    <div class="comments-container__body">{{ comment.body }}</div>
    <div><hr /></div>
  </div>
</div>
