.page-not-found-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // border: 1px dotted black;
  }

  &__icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px dotted black;
    i {
      font-size: 75px;
      // box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    }
  }

  &__message {
    flex: 1;
    // border: 1px dotted black;
  }
}
