<div class="users-container">
  <h2>Users</h2>
  <div *ngFor="let user of users">
    <div class="user-block">
      <!-- <div>{{ user.id }}</div> -->
      <div class="user-block__image">
        <img src="{{ user.image }}" />
      </div>

      <div class="user-block__info">
        <div>{{ user.firstName }}</div>
        <div>{{ user.lastName }}</div>
        <!-- calls getAge() and returns the age value-->
        <div>{{ getAge(user.dob) }} years old</div>
        <div>Lives in {{ user.location.city }}</div>

        <a
          (click)="handleClick(user)"
          [routerLink]="['/profiles', user.id]"
          routerLinkActive="active"
          >{{ user.firstName }}'s Profile</a
        >
      </div>
    </div>
  </div>
</div>
