<h2>Users</h2>
<div>
  <div *ngFor="let user of users">
    <div class="user-block">
      <div class="user-block__image">
        <!-- <div>{{ user.id }}</div> -->
        <div><img src="{{ user.image }}" /></div>
      </div>
      <div class="user-block__info">
        <div>{{ user.firstName }}</div>
        <div>{{ user.lastName }}</div>
        <!-- calls getAge() and returns the age value-->
        <div>{{ getAge(user.dob) }} years old</div>
        <div>Lives in {{ user.location.city }}</div>

        <a
          (click)="handleClick(user)"
          class="user-block__info-button"
          [routerLink]="['/profiles', user.id]"
          routerLinkActive="active"
          >View {{ user.firstName }}'s Profile</a
        >
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let user of users" class="card mb-3">
<div class="card-body">
  <h5 class="card-title">User: {{ user.id }}</h5>
  <p class="card-text">Name: {{ user.name }}</p>
  <p class="card-text"><small class="text-muted">Role: {{ user.role }}</small></p>
  <button class="btn btn-outline-info" (click)="handleClick(user)">
    View Posts
  </button>
</div>
</div> -->

<!-- <app-posts
  [userId]="userId"
  [firstName]="firstName"
  [lastName]="lastName"
  [showPosts]="showPosts"
  [showNoPosts]="showNoPosts"
>
</app-posts> -->
