<h2>Posts</h2>

{{ id }}

<div class>
  <img src="{{ user.image }}" />
  {{ user.firstName }} {{ user.lastName }}
</div>

<app-menu [id]="id"></app-menu>

<br />
<div *ngIf="firstName">{{ firstName }} {{ lastName }}'s posts</div>

<table *ngIf="showPosts; else noPosts">
  <!-- 1st if statement - if showPosts is true then render table else go to #noPosts -->
  <tr>
    <th>PostId</th>
    <th>UserId</th>
    <th>Post</th>
  </tr>

  <tr *ngFor="let post of posts">
    <td>{{ post.id }}</td>
    <td>{{ post.owner.id }}</td>
    <td>{{ post.message }}</td>
  </tr>
</table>

<ng-template #noPosts>
  <!-- if showPosts is not true then do #noPosts -->
  <div *ngIf="!showNoPosts; else showNoUserPosts">
    <!-- 2nd if statement - if noShowPosts is not true then render div else go to #noUserPosts -->
    Click 'View Posts' button
  </div>
  <ng-template #showNoUserPosts>
    <!-- if noShowPosts is not true then do #noUsersPosts -->
    No posts for this user
  </ng-template>
</ng-template>
