<div class="posts-container">
  <!-- <h2>Posts</h2> -->

  <!-- {{ id }} -->

  <!-- loop through and display all posts for user -->

  <div *ngFor="let post of posts; let i = index">
    <!-- <div>{{ post.id }}</div>
  <div>{{ post.owner.id }}</div> -->
    <div class="post-block">
      <div class="post-block__image"><img src="{{ post.image }}" alt="" /></div>
      <div class="post-block__message">{{ post.message }}</div>
      <div class="post-block__created-at">
        Created {{ post.createdAt | date }}
      </div>
      <div class="post-block__tags">
        <div *ngFor="let tag of post.tags">
          <div class="post-block__tags--tag">{{ tag.title }}</div>
        </div>
      </div>

      <!-- create comments area for each post -->
      <div class="post-block__comments">
        <!-- show post comments area on click (of chevron) if showPostComments value is equal to index postion of post - this is the event handling for each post click-->
        <div *ngIf="showPostComments === i; else notShowPostComments">
          <!-- Post Id = {{ i }} -->
          <!-- pass in the post object from posts and the index positon of the post into the hideComments function-->
          <a (click)="hideComments(post, i)">
            <i class="fas fa-chevron-circle-up"></i>
          </a>
          <!-- show post comments if there are any for the clicked post-->

          <div class="post-block__comments-block">
            <!-- check if there are any post comments ie the array of post comments is greater than zero -->
          <div *ngIf="postComments.length > 0; else notPostComments">
          
            <!-- show comments - if post comments -->
            <div *ngFor="let postComment of postComments">
              {{ postComment.id }} - {{ postComment.body }}
            </div>
          </div>
          <!-- show message - if no post comments -->
          <ng-template #notPostComments>
              <div class="post-block__comments-block">
            <p>No comments for this post</p>
              </div>
          </ng-template>
        </div>



      </div>

        <!-- show empty post comments area on click (of chevron) if showPostComments value is not equal to index postion of post - this is the event handling for each post click-->
        <ng-template #notShowPostComments>
          <a (click)="showComments(post, i)">
            <i class="fas fa-chevron-circle-down"></i>
          </a>
          <div class="post-block__comments-block"></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
