<!-- <h2>Info</h2> -->

<!-- {{ id }} -->

<div class="info-details__list">
  <div><i class="fas fa-mobile-alt"></i> {{ user.phone }}</div>
  <div><i class="fas fa-envelope"></i> {{ user.email }}</div>
  <div><i class="fas fa-birthday-cake"></i> {{ user.dob | date }}</div>
  <div>
    <i class="fas fa-home"></i> {{ user.location.city }},
    {{ user.location.state }}
  </div>
</div>

<hr />
<div class="info_details__member-since">
  <div>
    <i class="far fa-calendar-check"></i> Member since -
    {{ user.createdAt | date }}
  </div>
</div>
