<h2>Info</h2>

{{ id }}

<div>
  <img src="{{ user.image }}" />
  {{ user.firstName }} {{ user.lastName }}
</div>

<app-menu [id]="id"></app-menu>

<div class="user-details__list">
  <div><i class="fas fa-mobile-alt"></i> {{ user.phone }}</div>
  <div><i class="fas fa-envelope"></i> {{ user.email }}</div>
  <div><i class="fas fa-birthday-cake"></i> {{ user.dob }}</div>
  <div>
    <i class="fas fa-home"></i> {{ user.location.city }},
    {{ user.location.state }}
  </div>
</div>

<hr />

member since - {{ user.createdAt }}
